*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .title{
    display: flex;
    justify-content: space-between;
    margin: 50px auto 10px auto;
    width: 1200px;
    max-height: 100px;
    color: white;
    font-size: 40px;
  }
  html {
      background-color: blue;
  }
  
  
  .logo-1 { 
    width: 25px;
    height: 25px;
    margin-left: 5px; 
    }
  
  .logo-2 { 
    width: 25px;
    height: 25px;
    margin-left: 5px; }
  
       .grid-container {
        display: grid;
        grid-template-columns: repeat(4,290px);
        grid-template-rows:repeat(4, 130px);
        gap: 15px;
        grid-template-areas:
        "masonry responsive overlap overlap"
        "masonry fluid explicitly placed negative space"
        "flexible breadth masonry2 explicitly placed masonry3"
        "domorder masonry2 named tracks named tracks";
        max-width: 1200px;
        margin: auto;
        }
        
        .grid-item {
          background-color: white;
          color:#4d12ee;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: large;
        }
       
       
